@font-face {
  font-family: 'Plaza';
  src: local('Plaza'), url('../fonts/plazaitc.ttf') format('truetype');
}
@font-face {
  font-family: 'Mistral';
  src: local('Mistral'), url('../fonts/mistral.ttf') format('truetype');
}
@font-face {
  font-family: 'Sackers';
  src: local('Sackers'), url('../fonts/sackers.otf') format('opentype');
}
@font-face {
  font-family: 'Estrelle';
  src: local('Estrelle'), url('../fonts/estrelle.ttf') format('truetype');
}